@charset "utf-8";
/*********************************************************************
** CSS Document - Template Shop MuWesT
** By:LucasHP (CTM Team Softwares)
** Contact:lucashp@lhpdesigner.com.br || lucashp@ctmts.com.br
*********************************************************************/
body{background:url(../images/background.png) #000000; repeat-x center top; font:normal 12px Tahoma, Geneva, sans-serif;}
#all{display:block; clear:both; margin:0 auto; width:800px; padding:8px; background:#e7e7e7; border:1px solid #ddd; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:0px;}

#banner{display:block; clear:both; width:800px; height:200px; background:url(../images/banner.png) no-repeat;}
p{display:block; padding:5px; margin:5px; color:#333;}

#menu{width:800px; height:40px; display:block; clear:both; margin:5px 0; background:url(../images/gradient-black.gif) repeat-x; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:0px;}

#menu ul{display:block; margin:0; padding:0;}

#menu ul li{display:block; float:left; margin:4px 0 0 8px; list-style:none;}

#menu ul li a{padding:9px 20px; display:block; font:bold 11px Tahoma, Geneva, sans-serif; text-decoration:none; color:#fff; background:#000000;}

#menu ul li a:hover, #menu ul li a.active{background:url(../images/gradient-gray.gif) repeat-x; color:#000000;}

#section{background:white; display:block; float:left; width:569px; margin:0 3px 5px 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

#section:after{display:block; clear:both; height:0; visibility:hidden; overflow:hidden; content:".";}

h2.header{color:#000000; font:18px Tahoma, Geneva, sans-serif; display:block; margin:5px; padding:10px 10px 0 15px; border-bottom:1px solid #ddd; background:url(../images/list-black.gif) no-repeat 3px 19px;}

h2.header-aside{color:#000000; font:14px Tahoma, Geneva, sans-serif; display:block; margin:5px; padding:10px 10px 0 15px; border-bottom:1px solid #ddd; background:url(../images/list-black.gif) no-repeat 3px 16px;}

#aside form{display:block; clear:both; padding:5px; margin:5px; width:200px;}

#aside form label{font:12px Tahoma, Geneva, sans-serif; color:#555; display:block; clear:both; margin:5px 0 0 0;}

#aside form input{display:block; clear:both; color:#999; border:1px solid #d5d5d5; background:#fff; padding:4px; width:190px;}

#aside form input.btn-form, .button{display:block; float:left; clear:none; border:1px solid #e2e2e2; color:#666; padding:5px 8px; margin:5px 0; background:url(../images/gradient-gray.gif) repeat-x; text-align:center; font:bold 10px Tahoma, Geneva, sans-serif; width:auto; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:0px; cursor:pointer;}

#aside form input.btn-form:hover, .button:hover{background:#000000; color:white;}

#aside{background:#fff; display:block; float:left; width:225px; margin:0 3px 5px 0; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

#footer{width:800px; height:40px; display:block; clear:both; margin:5px 0 0 0; background:url(../images/gradient-black.gif) repeat-x; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:0px;} #footer a{color:#CCC; text-decoration:none;} #footer a:hover{color:#FF9393; text-decoration:underline;}

#footer p{margin:0; padding:13px; display:block; font:11px Tahoma, Geneva, sans-serif; color:#eaeaea;}

ul.list{display:block; clear:both; margin:5px; padding:5px 8px;}

ul.list li{display:block; clear:both; border-bottom:1px dotted #000000; padding:5px 10px; list-style:none;} .black{color:#000000;}
table{color:#000000; font:11px Tahoma, Geneva, sans-serif;}

a, .blue{color:#000000; text-decoration:none;} a:hover{color:#999;} .left{display:block; float:left;} .left{display:block; float:left;}

.quadros{padding:10px; display:block; background:#fafafa; margin:5px; overflow:auto; border:#efefef 3px solid; text-align:left; clear:both;}

.quadros2{padding:10px; display:block; background:white; margin:50px; overflow:auto; border:#000000 1px solid; text-align:left; clear:both;}

.qdestaques{border:#ff3737 3px solid; padding:10px; display:block; background:#fafafa; margin:5px; overflow:auto; text-align:left;}
input, textarea, select{color:#666; border:1px solid #ddd; background:#ededed; padding:4px;}

.qdestaques ul{margin:0; padding:5px; display:block; clear:both;}

.qdestaques ul li{display:block; clear:both; border-bottom:1px dotted #999; padding:5px; list-style:none;}